matlab_ws/1222/results/1222_parameter_study
matlab_ws/1222/results/1222_parameter_study_pdf
matlab_ws/1222/results/1222_parameter_pdf_pdf
matlab_ws/1222/results/1222_objF_line_pdf
matlab_ws/1219/results/1219_realsense_parameter_study
matlab_ws/1219/results/1219_realsense_parameter_study_5m_score
matlab_ws/1219/results/1219_realsense_parameter_study_hmn_vx
matlab_ws/1219/results/1219_realsense_parameter_study_slack