results/sotsuron_simulator/matlab_ws/1222/results/1222_parameter_study
results/sotsuron_simulator/matlab_ws/1222/results/1222_parameter_study_pdf
results/sotsuron_simulator/matlab_ws/1222/results/1222_parameter_pdf_pdf
results/sotsuron_simulator/matlab_ws/1222/results/1222_objF_line_pdf